<div class="header">
  <div class="logo">
    <img src="/img/devil-horns-svgrepo-com.svg" alt="none" class="header_logo">
  </div>

  <div class="menu_container">
    <ul class="menu_bar" id="guestNav">
      <a href="../index.html" id="home">Головна</a>
      <a href="../pages/artistsPage.html" id="allArtists">Виконавці</a>
      <a id="sort_mode_btn" href="#">Сортувати</a>
      <a id="edit_mode_btn" href="#">Про проект</a>
    </ul>
    <!--<ul class="menu_bar" id="userNav" style="display: none;">
      <a href="#">Мої альбоми</a>
      <a href="#">Мої артисти</a>
      <a href="#">Мої плейлисти</a>
      <a href="#" id="createPlaylistBtn">+ Створити плейлист</a>
    </ul>
    <ul class="menu_bar" id="adminNav" style="display: none;">
      <a href="#">Головна</a>
      <a href="#">Користувачі</a>
      <a href="#">Альбоми</a>
      <a href="#">Виконавці</a>
    </ul>-->
  </div>

  <div class="search_bar">
    <input type="text" placeholder="Що послухаєм сьогодні?">
    <button type="submit">
      <i class="fas fa-search"></i>
    </button>
  </div>

  <div class="auth_section">
    <div id="guestMenu">
      <a href="#" id="openLoginModal" class="login">Login</a>
      <a href="#" id="openRegisterModal" class="register">Register</a>
    </div>

    <div id="userMenu" style="display: none;">
      <div class="user-info">
        <img src="/img/devil-horns-svgrepo-com.svg" alt="Avatar" class="user-avatar">
        <span id="userName"></span>
      </div>
      <a href="#" id="logoutBtn" class="logout">Logout</a>
    </div>
  </div>
</div>
